<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hupi.project.mapper.SysRoleMapper">

    <resultMap id="BaseResultMap" type="com.hupi.project.model.entity.SysRole">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="code" column="code" jdbcType="VARCHAR"/>
            <result property="create_time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_time" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,code,
        create_time,update_time,remark
    </sql>
    <insert id="insertBatchRelation">
        insert into sys_role_permission (role_id,permission_id) values
        <foreach collection="permissionIds" separator="," item="permissionId">
            (#{roleId},#{permissionId})
        </foreach>
    </insert>
    <delete id="deleteRelation">
        delete from sys_role_permission where role_id =#{id}
    </delete>
    <select id="queryById" resultType="com.hupi.project.model.entity.SysRole">
        select r.* from sys_role r left join sys_user_role er on (r.id = er.role_id) where er.user_id = #{id}
    </select>

</mapper>
